---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlockBox from '../components/BlockBox.astro';

const friendSites = [
  {
    name: 'SMBX 官网',
    link: 'https://smbxgame.com/',
    image: '/images/affiliates/smbx.gif',
    desc: 'Super Mario Bros. X 的官方网站和交流论坛。',
  },
  {
    name: 'SMBX Equipo Estelar',
    link: 'https://www.smbxequipoestelar.com/',
    image: '/images/affiliates/SMBX_Equipo_Estelar.png',
    desc: '西班牙语的 Super Mario Bros. X 玩家社区。',
  },
  {
    name: 'WohlSoft 论坛',
    link: 'https://wohlsoft.ru/forum/',
    image: '/images/affiliates/wohlsoft.png',
    desc: 'Moondust（月尘）是由 Wohlstand（俄狐）制作的游戏引擎，用于 2D 平台游戏的关卡编辑和游玩，当然也兼容 SMBX。WohlSoft 论坛主要讨论 Moondust 和 SMBX，欢迎来看看~',
  },
  {
    name: 'Mario Forever 社区',
    link: 'https://www.marioforever.net/',
    image: '/images/affiliates/mfcommunity.png',
    desc: 'Mario Forever 社区是讨论马力欧同人游戏 Mario Forever、Mario Worker 及其相关衍生内容的交流平台。',
  },
  {
    name: 'Mario Fan Game Galaxy（MFGG）',
    link: 'http://www.mfgg.net/',
    image: '/images/affiliates/mfgg.gif',
    desc: 'MFGG 对 SMBX 社区做出了巨大贡献，那里有着很多致力于游戏创作的玩家，并拥有一个庞大的游戏创作及相关领域爱好者社区。此外，该网站上还有许多其他优秀的同人游戏，以及一些操作指南，素材和音效。',
  },
  {
    name: 'MarioWiki',
    link: 'https://www.mariowiki.com',
    image: '/images/affiliates/mariowiki.gif',
    desc: 'Super Mario Wiki 是一个内容丰富的资源库，其中涵盖了马力欧宇宙的各种信息。如果你想了解关于马力欧系列的详细参考资料，它是一个绝佳去处。',
  },
  {
    name: 'SMWCentral',
    link: 'https://www.smwcentral.net/',
    image: '/images/affiliates/smwc.gif',
    desc: 'SMWCentral是历史最悠久的 Super Mario World 改版网站之一。它由 Kieran Menor 和 Smallhacker 于 2006 年创立，讨论范围已从最初的《超级马力欧世界》扩展到《耀西岛》、《超级马力欧全明星》和《超级马力欧 64》（以及其他游戏）。该网站提供大量的 ROM 编辑工具以及许多精彩的改版游戏，推荐一玩！',
  },
  {
    name: 'Talkhaus',
    link: 'http://talkhaus.raocow.com/',
    image: '/images/affiliates/talkhaus.gif',
    desc: '如果你看过很多 ROM 改版游戏的录像，你很可能听说过 raocow（一个油管视频博主）。他在 YouTube 上活跃多年，甚至还录制过一些 SMBX 的视频。Talkhaus 是 raocow 的官方社区，那里会举办很多竞赛和改版游戏项目',
  },
];
---

<BaseLayout title="友情链接" theme="ice">
  <header class="header clear" role="banner">
    <p class="image"><img src="/images/assets/mario-hammer.png" /></p>
  </header>

  <main role="main">
    <BlockBox color="white">
      <section>
        <h1>友情链接</h1>
        <table cellpadding="0" cellspacing="0" width="100%">
          <tbody>
            {friendSites.map((site, i) => {
              if (i % 2 === 0) {
                const next = friendSites[i + 1];
                return (
                  <tr>
                    <td class="panel-links-td">
                      <p class="center"><span class="tagline"><a href={site.link} target="_blank">{site.name}</a></span></p>
                      <p class="center"><a href={site.link} target="_blank"><img alt={site.name} title={site.name} src={site.image} /></a></p>
                      <p class="center">{site.desc}</p>
                    </td>
                    {next ? (
                      <td class="panel-links-td">
                        <p class="center"><span class="tagline"><a href={next.link} target="_blank">{next.name}</a></span></p>
                        <p class="center"><a href={next.link} target="_blank"><img alt={next.name} title={next.name} src={next.image} /></a></p>
                        <p class="center">{next.desc}</p>
                      </td>
                    ) : <td></td>}
                  </tr>
                );
              }
              return null;
            })}
          </tbody>
        </table>
      </section>
    </BlockBox>

    <div class="block-links" style="margin: 32px auto; display: flex; justify-content: center; gap: 16px; flex-wrap: wrap;">
      <div style="flex: 1; min-width: 200px;">
        <BlockBox color="blue">
          <p class="center"><span class="title">工具站点</span></p>
          <ul>
            <li><a href="http://www.spriters-resource.com" target="_blank" rel="noopener noreferrer">The Spriters Resource</a></li>
            <li><a href="https://www.getpaint.net/" target="_blank" rel="noopener noreferrer">Paint.NET</a></li>
          </ul>
        </BlockBox>
      </div>
      <div style="flex: 1; min-width: 200px;">
        <BlockBox color="green">
          <p class="center"><span class="title">ROM改版站点</span></p>
          <ul>
            <li><a href="http://acmlm.kafuka.org/board/" target="_blank" rel="noopener noreferrer">board2</a></li>
            <li><a href="http://jul.rustedlogic.net/" target="_blank" rel="noopener noreferrer">Jul</a></li>
            <li><a href="http://www.romhacking.net" target="_blank" rel="noopener noreferrer">ROMhacking.net</a></li>
          </ul>
        </BlockBox>
      </div>
      <div style="flex: 1; min-width: 200px;">
        <BlockBox color="orange">
          <p class="center"><span class="title">相关贴吧</span></p>
          <ul>
            <li><a href="https://tieba.baidu.com/smbx" target="_blank" rel="noopener noreferrer">smbx吧</a></li>
            <li><a href="https://tieba.baidu.com/%B3%AC%BC%B6%C2%ED%C0%EF%B0%C2" target="_blank" rel="noopener noreferrer">超级马里奥吧</a></li>
            <li><a href="https://tieba.baidu.com/%C2%ED%C0%EF%B0%C2" target="_blank" rel="noopener noreferrer">马里奥吧</a></li>
            <li><a href="https://tieba.baidu.com/%E6%B0%B8%E8%BF%9C%E7%9A%84%E7%8E%9B%E4%B8%BD" target="_blank" rel="noopener noreferrer">永远的玛丽吧</a></li>
          </ul>
        </BlockBox>
      </div>
    </div>
  </main>
</BaseLayout>
